* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
}

.nav {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.nav p {
    font-weight: bold;
    margin-top: 15px;
    margin-left: 45px;
    font-size: 25px;
    font-family: "inter";
}

.nav a {
    text-decoration: none;
    color: #111;
}

.navbar {
    display: flex;
    gap: 10px;
    margin-right: 10px;
    margin-top: 25px;
}

.navbar a {
    text-decoration: none;
    text-align: center;
    color: #111;
    font-weight: bold;
    font-size: 20px;
    font-family: "inter";
}

.navbar a:hover {
    color: rgba(56, 109, 170, 0.8);
    font-weight: bold;
    font-size: 20px;
    font-family: "inter";
    transition: 0.3s;
}

.content1 {
    width: auto;
    height: 400px;
    background: url(/img/content1.png) center;
}

.content {
    position: relative;
}

.content1 h2 {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 2px;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 2px;
    text-shadow: 2px 1px #111;
    font-family: "bebas";
}

.content2 {
    width: 100vh;
    margin: 0 auto;
}

.content2 h2 {
    font-family: "bebas";
    margin-top: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.conteudos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.conteudo1 img {
    width: 270px;
    height: 230px;
    margin: 10px 10px;
    border-radius: 25px;
}

.conteudo-iterno {
    margin: 10px;
    width: 290px;
    height: 450px;
    background: #D9D9D9;
    border-radius: 10px;

}

.conteudo-iterno a h4 {
    text-transform: uppercase;
    font-family: "bebas";
    font-size: 20px;
    margin-left: 15px;
    letter-spacing: 2px;
    color: #111;
}

.conteudo-iterno p {
    font-family: "inter";
    margin: 0px 5px;
    margin-top: 5px;
    text-align: justify;
    color: #111;
}

.temp {
    margin-bottom: 20px;
}

.content3 {
    width: auto;
    height: 500px;
    background: url(/img/dente-de-sabres.png) center;
}

.content3 h2 {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 2px;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 2px;
    text-shadow: 2px 1px #111;
    font-family: "bebas";
}

.content3 p {
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 2px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
    text-shadow: 2px 1px #111;
    font-family: "bebas";
}

.historia {
    width: 100vh;
    margin: 0 auto;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.texto-historia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.titulo-historia {
    display: flex;
    align-items: center;
    gap: 8px;
}

.titulo-historia h2 {
    font-family: "bebas";
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 25px;
}

.texto-historia p a {
    text-decoration: none;
    color: #111;
    font-family: "inter";
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 25px;
}

.texto-historia p a:hover {
    color: #386daa;
    text-decoration: underline;
    border: 1px solid #386daa;
    padding: 5px 10px;
    border-radius: 25px;
}

.foto img {
    width: 270px;
    border-radius: 35px;
    height: 220px;
    object-fit: cover;
}

.footer {
    padding: 25px;
    background: #D9D9D9;
    display: flex;
    justify-content: space-between;
}

.footer .direitos {
    font-weight: bold;
    font-size: 25px;
}

@font-face {
    font-family: "inter";
    src: url(/fonts/Inter-VariableFont_opsz_wght.woff)
}

@font-face {
    font-family: "bebas";
    src: url(/fonts/BebasNeue-Regular.woff)
}

@media screen and (max-width: 1090px) {
    .nav p {
        font-weight: bold;
        margin-top: 15px;
        margin-left: 45px;
        font-size: 20px;
        font-family: "inter";
    }

    .navbar a {
        text-decoration: none;
        text-align: center;
        color: #111;
        font-weight: bold;
        font-size: 15px;
        font-family: "inter";
    }

    .navbar a:hover {
        color: rgba(56, 109, 170, 0.8);
        font-weight: bold;
        font-size: 15px;
        font-family: "inter";
    }

    .content2 {
        width: 100vh;
        margin: 0 auto;
        border: 1px solid red;
    }

    .conteudo1 img {
        width: 170px;
        height: 130px;
        margin: 10px 10px;
        border-radius: 25px;
    }

    .conteudo-iterno {
        margin: 10px;
        width: 190px;
        height: 350px;
        background: #D9D9D9;
        border-radius: 10px;
    }

    .conteudo-iterno a h4 {
        text-transform: uppercase;
        font-family: "bebas";
        font-size: 15px;
        margin-left: 15px;
        letter-spacing: 1px;
        color: #111;
    }

    .conteudo-iterno p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 9;
        /* Define o limite de linhas */
        -webkit-box-orient: vertical;
        font-family: "inter";
        font-size: 15px;
        margin: 0px 5px;
        margin-top: 5px;
        text-align: justify;
        color: #111;
    }



    .historia {
        width: 100vh;
        margin: 0 auto;
        height: 300px;
        border: 1px solid red;
        display: flex;
    }
}